
@media screen and (max-width: 1220px) {
    header {
        justify-content: space-between;
        gap: 0;
    }
    .logo {
        font-weight: 500;
    }

    section {
        flex-wrap: wrap;
        margin-top: 10rem;
        justify-content: center;
        align-content: center;
    }
    .text {
        text-align: center;
        max-width: 100%;
        font-size: 22px;
        font-weight: 300;
    
        & h1 {
           font-size: 72px;
           font-weight: 500;
           padding-bottom: 1rem;
        }
    }
    .img {
        max-width: 70%;
        margin-top: 9rem;
    }
    
    img {
        margin: 5px;
    }
}